html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.div-acordeon {
  width: 530px;
  margin-left: 140px;
  word-wrap: break-word;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.h3-acordeon {
  margin-bottom: 8px;
  margin-top: 30px;
  color: #000;
  cursor: default;
}

.h3-acordeon:hover {
  text-decoration: none;
}

